<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="qf.com.vitamodemo">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".BaseApp"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_zy"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.DmActivity"
            android:label="@string/title_activity_dm"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ui.TvActivity"
            android:label="@string/title_activity_tv"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ui.ZyActivity"
            android:label="@string/title_activity_zy"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ui.VideoActivity"
            android:label="@string/title_activity_video"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ui.VideoInfoActivity"
            android:label="@string/title_activity_video_info"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ui.PlayWebActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name=".ui.TvInfoActivity"
            android:label="@string/title_activity_video_info"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ui.DmMultiInfoActivity"
            android:label="@string/title_activity_video_info"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.DmSingleInfoActivity"
            android:label="@string/title_activity_video_info"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.ZyInfoActivity"
            android:label="@string/title_activity_video_info"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.SearchFlyActivity"
            android:label="@string/title_activity_search"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>
